@{
    ViewData["Title"] = "Feed";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
            <form action="" method="post">
                <div class="form-group">
                        <label for="archivo">Archivo</label>
                        <input type="file" name="archivo" id="archivo">
                </div>
                <input type="submit" value="Enviar">
            </form>
    </div>

</div>