@{
    ViewBag.Title = "SubirArchivo";
}

<h1>Subiendo Archivo</h1>

<h2 class="text-danger">@ViewBag.Error</h2>
<h2 class="text-sucess">@ViewBag.Correcto</h2>

<form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="archivo" id="">
        <button type="submit">Subir</button>
</form>